<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        This is my home page
    </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam recusandae enim pariatur asperiores cumque quam, expedita, esse quo ut aperiam itaque minima nisi quos ipsam rerum necessitatibus id. Quidem, accusantium?
    </p>
    <hr>
    <h2>
        Started learning django
    </h2>
</body>
</html>